{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Gandal-Electronic</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'affiliate/assets/favicon.ico'%}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap) -->
        <link href="{% static 'affiliate/css/styles.css' %}  " rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container px-5">
                    <button type="button" class="btn btn-primary">Gandal-Electronic</button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="navbar-brand" href="{% url 'home' %}">Home</a></li>
                            <li class="nav-item"><a class="navbar-brand" href="{% url 'about' %}">About</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h3 class="display-5 fw-bolder text-white mb-2">Discover the Best Amazon Electronics at Gandal-Tech</h3>
                                <p class="lead fw-normal text-white-50 mb-4">Welcome to Gandal-Electronic, your ultimate source for the latest trends in electronics, offering expert reviews and great deals on a diverse range of cutting-edge electronics available on Amazon. Explore our carefully chosen selection and save on the best gadgets and technologies on the market today.</p>

                            </div>
                            <div>
                                <a href="https://amzn.to/3F8CVp0">
                                <button type="button" class="btn btn-outline-primary">
                                   Shop now on Amazon</button></a>
                            </div>
                        </div>
                        <div class="col-xxl-6 col-xxl-6 d-none d-xl-block text-center" id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-item active">
                                <img class="img-fluid rounded-3 my-5" class="d-block w-100" src="{% static 'affiliate/images/10.jpg' %}" alt="" />
                            </div>
                            <div class="carousel-item active">
                                <img class="img-fluid rounded-3 my-5" class="d-block w-100" src="{% static 'affiliate/images/9.jpg' %}" alt=" " />
                            </div>
                            <div class="carousel-item active">
                                <img class="img-fluid rounded-3 my-5" class="d-block w-100" src="{% static 'affiliate/images/8.jpg' %}" alt=" " />
                            </div>
                            <div class="carousel-item active">
                                <img class="img-fluid rounded-3 my-5" class="d-block w-100" src="{% static 'affiliate/images/7.jpg' %}" alt=" " />
                            </div>
                            <div class="carousel-item active">
                                <img class="img-fluid rounded-3 my-5" class="d-block w-100" src="{% static 'affiliate/images/6.jpg' %}" alt=" " />
                            </div>
                            <div class="carousel-item active">
                                <img class="img-fluid rounded-3 my-5" class="d-block w-100" src="{% static 'affiliate/images/5.jpg' %}" alt=" " />
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </header>
            <!-- Features section-->
            
            <!-- Testimonial section-->

            <!--  
            <div class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">"Working with Start Bootstrap templates has saved me tons of development time when building new projects! Starting with a Bootstrap template just makes things easier!"</div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                    <div class="fw-bold">
                                        Tom Ato
                                        <span class="fw-bold text-primary mx-1">/</span>
                                        CEO, Pomodoro
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->
            <!-- Blog preview section-->

            <!-- First blog-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5">
                            
                            <div class="card h-100 shadow border-0">
                                <a href="https://amzn.to/45q0FPY"><img class="card-img-top" src="{% static 'affiliate/images/c1.jpg' %}" alt="..." /></a>
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" href="https://amzn.to/45q0FPY"><h3 class="card-title mb-3">Acer Aspire 3 A315-24P-R7VH Slim Laptop | 15.6"</h3></a>
                                    <p class="card-text mb-0">Full HD IPS Display | AMD Ryzen 3 7320U Quad-Core Processor | AMD Radeon Graphics | 8GB LPDDR5 | 128GB NVMe SSD | Wi-Fi 6 | Windows 11 Home in S Mode</p>
                                    <a href="https://amzn.to/45q0FPY">see more</a>
                                    <br>
                                    <br>
                                    
                                    <a href="https://amzn.to/45q0FPY"><div class="badge bg-primary bg-gradient rounded-pill mb-2">
                                        -9% <br>
                                        $299.99
                                        
                                    </div>
                                    </a>
                                </div>
                                
                                

                            </div>
                    
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <a href="https://amzn.to/48FmduS">
                                <img class="card-img-top" src="{% static 'affiliate/images/c2.jpg' %}" alt="..." />
                                </a>
                                <div class="card-body p-4">
                                    
                                    <a class="text-decoration-none link-dark stretched-link" href="https://amzn.to/48FmduS"><h3 class="card-title mb-3">Acer 2022 Chromebook 315 15.6"</h3></a>
                                    <p class="card-text mb-0">Full HD 1080p IPS Touchscreen Laptop PC, Intel Celeron N4020 Dual-Core Processor, 4GB DDR4 RAM, 64GB eMMC, Webcam, WiFi, 12 Hrs Battery Life, Chrome OS, Silver.</p>
                                    <a href="https://amzn.to/48FmduS">see more</a>
                                    <br>
                                    <br>
                                    <a href="https://amzn.to/48FmduS">
                                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">-60% <br> $239.99</div>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <a href="https://amzn.to/46GkUd8">
                                <img class="card-img-top" src="{% static 'affiliate/images/c3.jpg' %}" alt="..." />
                                </a>
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" href="https://amzn.to/46GkUd8"><h3 class="card-title mb-3">SAMSUNG Galaxy Tab A8 10.5” 32GB Android Tablet</h3></a>
                                    <p class="card-text mb-0">LCD Screen, Kids Content, Smart Switch, Long Lasting Battery, US Version, 2022, Dark Gray</p>
                                    <a href="https://amzn.to/46GkUd8">see more</a>
                                    <br>
                                    <br>
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">-24% <br> $174.01</div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- Call to action-->
                    
                </div>
            </section>

            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5">
                            
                            <div class="card h-100 shadow border-0">
                                <a href="https://amzn.to/48KkqEU"><img class="card-img-top" src="{% static 'affiliate/images/c11.jpg' %}" alt="..." /></a>
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" href="https://amzn.to/48KkqEU"><h3 class="card-title mb-3">SAMSUNG Galaxy Tab S9 11” 128GB , WiFi 6E Android Tablet</h3></a>
                                    <p class="card-text mb-0">Snapdragon 8 Gen 2 Processor, AMOLED Screen, S Pen, IP68 Rating, US Version, 2023, Graphite</p>
                                    <a href="https://amzn.to/48KkqEU">see more</a>
                                    <br>
                                    <br>
                                    
                                    <a href="https://amzn.to/48KkqEU"><div class="badge bg-primary bg-gradient rounded-pill mb-2">
                                        $764.15
                                        
                                    </div>
                                    </a>
                                </div>
                                
                                

                            </div>
                    
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <a href="https://amzn.to/48FmduS">
                                <img class="card-img-top" src="{% static 'affiliate/images/c12.jpg' %}" alt="..." />
                                </a>
                                <div class="card-body p-4">
                                    
                                    <a class="text-decoration-none link-dark stretched-link" href="https://amzn.to/48FmduS"><h2 class="card-title mb-3">MSI Thin GF63 15.6" 144Hz Gaming Laptop</h3></a>
                                    <p class="card-text mb-0">12th Gen Intel Core i7, NVIDIA GeForce RTX 4050, 16GB DDR4, 512GB NVMe SSD, Type-C, Cooler Boost 5, Win11 Home: Black 12VE-066US
                                    </p>
                                    <br>
                                    <a href="https://amzn.to/48FmduS">see more</a>
                                    <br>
                                    <br>
                                    <a href="https://amzn.to/48FmduS">
                                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">-60% <br> $239.99</div>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <a href="https://amzn.to/3LRT2L9">
                                <img class="card-img-top" src="{% static 'affiliate/images/c13.jpg' %}" alt="..." />
                                </a>
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" href="https://amzn.to/3LRT2L9"><h3 class="card-title mb-3">ASUS TUF Gaming F15 Gaming Laptop</h3></a>
                                    <p class="card-text mb-0">15.6” 144Hz FHD Display, Intel Core i5-11400H Processor, GeForce RTX 2050, 8GB DDR4 RAM, 512GB PCIe SSD Gen 3, Wi-Fi 6, Windows 11, FX506HF-ES51,Graphite Black</p>
                                    <a href="https://amzn.to/3LRT2L9">see more</a>
                                    <br>
                                    <br>
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">-24% <br> $699.99</div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- Call to action-->
                    
                </div>
            </section>

            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5">
                            
                            <div class="card h-100 shadow border-0">
                                <a href="https://amzn.to/48KkqEU"><img class="card-img-top" src="{% static 'affiliate/images/c11.jpg' %}" alt="..." /></a>
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" href="https://amzn.to/48KkqEU"><h3 class="card-title mb-3">SAMSUNG Galaxy Tab S9 11” 128GB , WiFi 6E Android Tablet</h3></a>
                                    <p class="card-text mb-0">Snapdragon 8 Gen 2 Processor, AMOLED Screen, S Pen, IP68 Rating, US Version, 2023, Graphite</p>
                                    <a href="https://amzn.to/48KkqEU">see more</a>
                                    <br>
                                    <br>
                                    
                                    <a href="https://amzn.to/48KkqEU"><div class="badge bg-primary bg-gradient rounded-pill mb-2">
                                        $764.15
                                        
                                    </div>
                                    </a>
                                </div>
                                
                                

                            </div>
                    
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <a href="https://amzn.to/48FmduS">
                                <img class="card-img-top" src="{% static 'affiliate/images/c12.jpg' %}" alt="..." />
                                </a>
                                <div class="card-body p-4">
                                    
                                    <a class="text-decoration-none link-dark stretched-link" href="https://amzn.to/48FmduS"><h2 class="card-title mb-3">MSI Thin GF63 15.6" 144Hz Gaming Laptop</h3></a>
                                    <p class="card-text mb-0">12th Gen Intel Core i7, NVIDIA GeForce RTX 4050, 16GB DDR4, 512GB NVMe SSD, Type-C, Cooler Boost 5, Win11 Home: Black 12VE-066US
                                    </p>
                                    <br>
                                    <a href="https://amzn.to/48FmduS">see more</a>
                                    <br>
                                    <br>
                                    <a href="https://amzn.to/48FmduS">
                                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">-60% <br> $239.99</div>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <a href="https://amzn.to/46GkUd8">
                                <img class="card-img-top" src="{% static 'affiliate/images/c3.jpg' %}" alt="..." />
                                </a>
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" href="https://amzn.to/46GkUd8"><h3 class="card-title mb-3">SAMSUNG Galaxy Tab A8 10.5” 32GB Android Tablet</h3></a>
                                    <p class="card-text mb-0">LCD Screen, Kids Content, Smart Switch, Long Lasting Battery, US Version, 2022, Dark Gray</p>
                                    <a href="https://amzn.to/46GkUd8">see more</a>
                                    <br>
                                    <br>
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">-24% <br> $174.01</div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- Call to action-->
                    
                </div>
            </section>

            <!-- Second blog -->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5">
                            
                            <div class="card h-100 shadow border-0">
                                <a href="https://amzn.to/3RO4Q4Q"><img class="card-img-top" src="{% static 'affiliate/images/c4.jpg' %}" alt="..." /></a>
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" href="https://amzn.to/3RO4Q4Q"><h3 class="card-title mb-3">Dell Optiplex 7050 SFF Desktop PC Intel i7-7700 4-</h3></a>
                                    <p class="card-text mb-0">Cores 3.60GHz 32GB DDR4 1TB SSD WiFi BT HDMI Duel Monitor Support Windows 10 Pro Excellent Condition(Renewed)</p>
                                    <a href="https://amzn.to/3RO4Q4Q">see more</a>
                                    <br>
                                    <br>
                                    
                                    <a href="https://amzn.to/3RO4Q4Q"><div class="badge bg-primary bg-gradient rounded-pill mb-2">
                                        $499.98    
                                    </div>
                                    </a>
                                </div>
                                
                                

                            </div>
                    
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <a href="https://amzn.to/3LRtKwC">
                                <img class="card-img-top" src="{% static 'affiliate/images/c7.jpg' %}" alt="..." />
                                </a>
                                <div class="card-body p-4">
                                    
                                    <a class="text-decoration-none link-dark stretched-link" href="https://amzn.to/3LRtKwC"><h3 class="card-title mb-3">SAMSUNG Galaxy Tab S6 Lite 10.4" 64GB Android</h3></a>
                                    <p class="card-text mb-0">Tablet, S Pen Included, Slim Metal Design, AKG Dual Speakers, Long Lasting Battery, US Version, 2022, Oxford Gray</p>
                                    <a href="https://amzn.to/3LRtKwC">see more</a>
                                    <br>
                                    <br>
                                    <a href="https://amzn.to/3LRtKwC">
                                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">-31% <br> $240.26</div>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <a href="https://amzn.to/46lJzUC">
                                <img class="card-img-top" src="{% static 'affiliate/images/c9.jpg' %}" alt="..." />
                                </a>
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" href="https://amzn.to/46lJzUC"><h3 class="card-title mb-3">Acer Nitro 5 AN515-58-57Y8 Gaming Laptop |</h3></a>
                                    <p class="card-text mb-0">Intel Core i5-12500H | NVIDIA GeForce RTX 3050 Ti Laptop GPU | 15.6" FHD 144Hz IPS Display | 16GB DDR4 | 512GB Gen 4 SSD | Killer Wi-Fi 6 | Backlit Keyboard</p>
                                    <a href="https://amzn.to/46lJzUC">see more</a>
                                    <br>
                                    <br>
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">-24% <br> $174.01</div>
                                </div>     
                            </div>
                        </div>
                    </div>
                    <div class="container mt-4">
                        <a href="https://amzn.to/45kwfP8">
                            <button type="button" class="btn btn-outline-primary">view more</button>
                        </a>
                    </div>
                    <!-- Call to action-->
                    
                    <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                        
                        <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                            <div class="mb-4 mb-xl-0">
                                <div class="fs-3 fw-bold text-white">Don't miss out on the latest Amazon electronics deals!
                                <a href="https://amzn.to/45kwfP8">
                                    <button type="button" class="btn btn-primary">Click</button>
                                </a> 
                                 now to explore our top recommendations and save big!</div>
                                
                            </div>
                            
                        </div>
                        
                    </aside>
                    
                </div>
            </section>
            
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Gandal-Electronic 2023</div></div>
                    <div class="col-auto">
                        <h4 class="link-light card-title mb-3" >Follow Us</h4>
                        <a class="link-light small" href="#!">Terms</a>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'affiliate/js/scripts.js'%}"></script>
    </body>
</html>
